<form [formGroup]="compareForm"  autocomplete="off">
  <mat-grid-list cols="6"  gutterSize="3px">
    <mat-grid-tile><label>Upper Limit</label>
    </mat-grid-tile>
    <mat-grid-tile >
      <mat-form-field>
        <input type="number" min="0" (keydown)="numberValidate($event)" matInput (keydown)="numberValidate($event)"
          formControlName="UpperLimit" />
        <mat-error>
          <span *ngIf="UpperLimit.errors?.UpperLimitError">Upper Limit value must be greater than Middle Limit and Lower Limit value.</span>
          <span *ngIf="UpperLimit.errors?.ULError">Upper Limit value cannot be blank</span>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile><label>Middle Limit</label></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field>
        <input type="number" required (keydown)="numberValidate($event)" matInput formControlName="MiddleLimit" />
        <mat-error>
          <span *ngIf="MiddleLimit.errors?.MiddleLimitError">
            Middle Limit value must be in between Upper Limit and Lower Limit value.</span>
          <span *ngIf="MiddleLimit.errors?.MLError">Middle Limit cannot be blank</span>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile><label>Lower Limit</label>
    </mat-grid-tile>
    <mat-grid-tile >
      <mat-form-field>
        <input type="number" (keydown)="numberValidate($event)" matInput formControlName="LowerLimit"/>
        <mat-error>
          <span *ngIf="LowerLimit.errors?.LowerLimitError">Lower Limit value must be less than Middle Limit and Upper Limit value.</span>
          <span *ngIf="LowerLimit.errors?.LLError">Lower Limit cannot be blank</span>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>